.max{
    color: red;
}
.input_field,.input_submit{
    display: flex;
    text-align: center;
 padding: 2px;
 justify-content: space-between;

}

#name,#email,#password,#gender,#address{
background-color: rgba(204, 252, 115, 0.849) ;
color:white;
padding: 6px;
margin-bottom: 4px;
border-radius: 10px;
}
.input_submit{
 align-items: center;
 justify-content: center;
}

#button{
padding: 20px;
font-size: large;
border-radius: 25px;
width:300px;
background-color: rgb(253, 250, 250);
color:black;
}

#button:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.genders{
    display: flex;
    flex-direction: column;
}

.toggle-password{
border: 1px solid grey;
background-color:white;

}
.toggle-password:hover{
    cursor:pointer;
    background-color:aquamarine;
}

.Accountheadline{
    font-family: monospace;
    color: blueviolet;
margin-bottom: 5px;
text-align: center;
font-size: larger;
}
#previewContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
  }

.preview-image { 
    width: 100px;
    height: 100px;
  }

body{
  display: flex;
  justify-content: center;
 background-image:url(nat.avif);
 background-repeat: no-repeat;
 background-size: cover;
    
}
.wrapper{
    background: rgba(255, 255, 255, 0.1);
    margin: 10px;
    padding: 16px;
    align-items: center;  
   color: white;
   font-family: monospace;
   font-size: larger;
   border-radius: 25px;

}

.PersonalInfo_Block,.Address_Block{
    padding:15px ;
   margin-bottom: 6px;
    border: 1px solid rgba(0, 0, 0, 0.74);
border-radius: 9px;
}

.loginLink a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
